<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidden</title>

    {{>headerLinks}}

</head>
<body>

    {{>navbar}}

    <p>SECRET information

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo praesentium similique veniam fugit sed eos inventore earum laborum sit totam voluptatum explicabo, ipsum facere soluta ipsa quas saepe? Est, ipsam.
    </p>

    {{>footer}}

    
</body>
</html>