extends base.pug

block style
    <link rel="stylesheet" href="../static/css/style.css">

block content
    <section class="container1">
        <div class="quote">
            <p>
                | Dance is the hidden language of the soul.
            </p>
        </div>
    </section>

    <section class="container2">

        <div class="center">

            <div class="card">
                <h2>Body says what words cannot</h2>
                <div class="content">
                </div>
            </div>

            <div class="card">
                <h2>Dancing is the poetry of the foot</h2>
                <div class="content">
                </div>
            </div>

            <div class="card">
                <h2>Dance first. Think later. It’s the natural order</h2>
                <div class="content">
                </div>
            </div>

        </div>

    </section>

block script
    <script src="../static/index.js"></script>
    